li{
  display: flex;
  font-size: 26px;
  padding: 20px 0;
  border-radius: 2px;
}

.Deleted{
  text-decoration: line-through;
}

.ButtonAdd{
  font-weight: 900;
  color: white;
  background-color: #00baba;
  padding: 0 6px;
  border-radius: 5px;
  margin: 0 10px;
  cursor: pointer;
}

.ButtonRemove{
  font-weight: 900;
  color: white;
  background-color: #004c4c;
  padding: 0 9px;
  border-radius: 5px;
  margin: 0 10px;
  cursor: pointer;
}

.GroceryAmount{
  margin: 0 5px;
  color: #00baba;
}