ul{
  list-style: none;
}

.GroceryLists{
  display: flex;
  justify-content: center;
  text-align: left;
}

.Items{
  width: 40%;
}

.BasketTitle{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.DeleteButton{
  font-size: 18px;
  height: 100%;
  padding: 10px 20px;
}