ul{
  list-style: none;
  width: 95%;
  margin: 0;
  padding: 0;
}

li{
  display: flex;
  font-size: 26px;
  padding: 15px 0;
  border-radius: 2px;
  margin-bottom: 10px;
}

.GroceryLists{
  display: flex;
  justify-content: center;
  text-align: left;
}

.Items{
  width: 40%;
}

.BasketTitle{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.EmptyBasketButton{
  font-size: 18px;
  font-weight: 600;
  height: 100%;
  padding: 10px 20px;
  background-color: #e2af22;
  color: white;
  border: none;
  cursor: pointer;
}

.BackgroundLightTeal{
  background-color: #d7f2f2;
}

.BackgroundGrey{
  background-color: #f2f9f9;
}

::selection {
  color: #00baba;
  background-color: rgba(0, 186, 186, 0.1);
}