ul{
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
}

.GroceryLists{
  display: flex;
  justify-content: center;
  text-align: left;
}

.Items{
  width: 40%;
}

.BasketTitle{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.DeleteButton{
  font-size: 18px;
  font-weight: 600;
  height: 100%;
  padding: 10px 20px;
  background-color: #e2af22;
  color: white;
  border: none;
}

.BackgroundGrey{
  background-color: #d7f2f2;
}

::selection {
  color: #00baba;
  background-color: rgba(0, 186, 186, 0.1);
}